body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: rgb(120, 109, 19);
  font-family: "Playwrite IE", cursive;
  font-optical-sizing: auto;
  font-weight:10px;
  font-style: normal;
}

.container {
  text-align: center;
  width: 60%;
}

#password1 {
  margin: 20px 0;
  word-break: break-all;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Playwrite IE", cursive;
}
button:hover {
  background: #ec7979;
}
